
*.asv
ComputerVision/data
ComputerVision/segnet_basic_dsc_training_progress_images
ComputerVision/segnet_basic_training_progress_images
alps.jpg
city.jpg
Jeep.jpg
jeepbig.jpg
sample.gif
**/*.pyc
**/__pycache__
Segmentation/data
Transformers/data
Python_DataScience/data
*.Zone.Identifier
*.pt
Transformers/SwinUnetArchitecturePytorch.ipynb:Zone.Identifier
ComputerVision/benchmark/profiler_recipe.ipynb:Zone.Identifier

lightning/logs
lightning/MNIST
lightning/lightning_logs
mlflow_tutorials/MNIST
data/
Umar/Transformers/tokenizer_it.json
Umar/Transformers/tokenizer_en.json
pytorch/data
pytorch/mlruns
pytorch/__pycache__
Umar/Transformers/runs
*.env
gemini/*.txt