
*.asv
ComputerVision/data
ComputerVision/segnet_basic_dsc_training_progress_images
ComputerVision/segnet_basic_training_progress_images
alps.jpg
city.jpg
Jeep.jpg
jeepbig.jpg
sample.gif
**/*.pyc
**/__pycache__
Segmentation/data
Transformers/data
Python_DataScience/data
*.Zone.Identifier
*.pt
Transformers/SwinUnetArchitecturePytorch.ipynb:Zone.Identifier
ComputerVision/benchmark/profiler_recipe.ipynb:Zone.Identifier
